body {
  color: #226597;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  text-align: center;
}

h1 {
  color: #226597;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0;
  margin-top: 0;
  position: relative;
}

h2 {
font-size: 2.5rem;
}

h3 {
font-size: 1.5rem;
}

table {
  font-size: 1.17rem;
  text-align: left;

}

p {
font-size: 1.03rem;
  margin: 0;
}

.main-sub-header {
  font-size: 1.28rem;
}

.mountain-img {
border: 0;
margin: 0;
position: relative;
right: 36px;
}

.computer-img {
width: 18%;
}

.man-img {
  width: 128px;
  margin-top: 45px;
  height: 128px;
}

.bottom-container {
  background-color: #f3f9fb;
  padding: 20px;
  font-size: 1.00rem;
}

.contact-me {
  padding-bottom: 20px;
}


.top-container {
  background-color: #f3f9fb;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-top: 100px;
}


.bottom-cloud {
    bottom: 250px;
    left: 18px;
    position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.stars:hover {
  color: gold;
}

.mail-img {
  width: 120px;
}

.linkedin-img {
  width: 40px;
}

.btn {
  color: inherit;
font-family: monospace;
position: absolute;
margin-top: 35px;
background-color: red;
padding: 5px 10px;
}
