body {
  color: #000;
  font-family: 'Source Code Pro', monospace;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #226597;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  position: relative;
}

h2 {
  color: #226597;
  font-size: 2.5rem;
  font-family: 'Source Code Pro', monospace;
}

h3 {
  color: #226597;
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  margin: auto;
  line-height: 2;
}

hr {
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  margin: 50px auto 20px auto;
  opacity: 0.35;
  width: 5%;
}

p {
  font-size: 1.03rem;
  line-height: 2;
  margin: 0 auto;

}

table {
  font-size: 1.17rem;
  text-align: left;
}

.bottom-cloud {
  bottom: 250px;
  left: 250px;
  position: absolute;
  z-index: 1;
}

.bottom-container {
  background-color: #e8f1f5;
  font-size: 1.00rem;
  padding: 20px;
  position: relative;
}

.btn {
  background-color: #113f67;
  color: lightblue;
  font-family: 'Source Code Pro', monospace;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8px;
  line-height: 8;
}

.btn:hover {
  background-color: lightblue;
  color: #113f67;
  text-decoration: none;
}

.computer-img {
  margin-bottom: 30px;
  width: 25%;
}

.contact-me {
  font-family: 'Merriweather', serif;
  width: 50%;
  margin: 40px auto 60px;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.email-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.linkedin-img {
  margin: 20px;
  width: 4%;
}

.main-sub-header {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.man-img {
  height: 128px;
  margin-top: 45px;
  width: 128px;
}

.mountain-img {
  border: 0;
  margin: 0 auto;
  position: relative;
  right: 36px;
  vertical-align: bottom;
  width: 45%;
}

.network-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.progress-row {

  margin: 100px auto;
}

.product-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.profile {
  font-family: 'Merriweather', serif;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #e8f1f5;
  margin: 0;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
